:root {
    /** Idk about this font !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    --navBarFont: Tahoma;
    --subHeadingFont: calibri;
    /** Default Font */
    font-family: 'Roboto', sans-serif;

    --navColorPrimary: #009efa;
    --navColorSecondary: rgb(0, 101, 168);
    --navFontHover: #f6f647;

    --backgroundLight: #FFF;
    --backgroundDark: #000;
}

/** Reset CSS */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}   

/** In the Future implement JS to do Dark Mode:
body {
    background-color: black;
}

p, h1, h2, h3 {
    color: white;
}*/

/** Home-Page Specific CSS CSS */

#homeHeader h1 {
    display: none;
}

h1 {
    font-weight: 300;
    position: static;
    text-align: center;
    display: block;
    top: 8rem;
    padding-bottom: 2rem;
    background-color: rgb(141, 208, 255);
}

#homeHeader picture img {
    width: 100%;
    height: 100%;
}
section {
    max-width: 100%;
}

/** General CSS */


/** Notes Page CSS */
td {
    border: solid --backgroundDark;
}

th {
    background-color: var(--backgroundLight);
}

.fall {
    background-color: #ffec96;
}
.winter {
    background-color: #96ecff;
}
.spring {
    background-color: #96ffb4;
}
.summer {
    background-color: #ffab96;
}
#currentTerm {
    background-color: lightYellow;
}

/** Other Page only CSS */
body:not(#homeBody) {

}

/** Notes Page Stuff */



/** General Navigation */

header {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

/** Desktop Navigation */
@media screen and (min-width: 868px) {
    html {
        /** We can't see the space covered by Nav */
        margin-top: calc(12px + 2.5vw);
    }

    nav ul li a {
        font-family: var(--navBarFont);
        font-size: calc(8px + 1.5vw);
        display: block;
        text-decoration: none;
        font-weight: 1000;
        color: var(--fontColor);
    }

    nav ul li a:hover {
        color: rgb(239, 5, 5);
        transition: color 0.2s ease-in;
    }
    
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: calc(12px + 2.5vw);
        background: linear-gradient(var(--navColorSecondary), var(--navColorPrimary));
    
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0.5ch;
    }
}

/** Tablet Navigation */
@media mobile, (max-width: 868px) {

}

/** mobile Navigation */
@media mobile and (max-width: 480px) {
    
}